@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    --reseda: #51b069;
    --lite: #F4FDD9;
    --smoke: #F3F3F3;
    --blush: #E75A7C;
    
    --gunmetal: #2C3539;
    --coquelicot: #F15025;
    --platinum: #e6e8e66a;
}

html {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: white;
}

#root {
    height: 100%;
    width: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.main-card {
    background-color: var(--platinum);
    box-shadow: 2px 2px 5px var(--coquelicot);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    width: 95%;
    height: 87%;
}

#headshot-and-contact-container {
    border-radius: 10px;
    /* border: 2px solid var(--blush); */
    background-color: #f151259c;
    max-width: 25%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.route-card {
    /* border: 2px solid var(--blush); */
    background-color: white;
    border-radius: 10px;
    max-width: 70%;
    min-width: 70%;
    height: 95%;
    align-self: center;
}