:root {
    --reseda: #1a9338;
    --lite: #F4FDD9;
    --rich: #0d1321;
    --smoke: #F3F3F3;
    --blush: #E75A7C;
}

html {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--smoke);
}

#root {
    height: 100%;
    width: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.main-card {
    /* border: 1px solid red; */
    background-color: var(--reseda);
    box-shadow: 5px 5px 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 80%;
}

#headshot-and-contact-container {
    border-radius: 10px;
    border: 2px solid var(--blush);
    background-color: var(--lite);
    max-width: 25%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.route-card {
    border: 2px solid var(--blush);
    background-color: var(--smoke);
    border-radius: 10px;
    max-width: 70%;
    min-width: 70%;
    height: 95%;
    align-self: center;
}